a {
    text-decoration: none;
    color: #2562dc;
}

a:hover {
    text-decoration: underline;
}

body {
    background: #222;
    font-family: sans-serif;
    margin: 0 auto;
    max-width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    color: #fafafa !important;
    font-weight: normal;
}

h2 {
    font-weight: normal;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tbody tr:nth-child(odd) {
    background-color: #f8f8f8;
}

td {
    max-width: 50%;
    padding: 2px 5px;
    text-align: left;
}

.hostname {
    color: #858585;
    font-size: 0.9em;
    margin-left: 10px;
    text-decoration: none;
}

.note {
    font-size: smaller;
    color: grey;
}

.mono {
    font-family: monospace;
}

body {
    max-width: 1440px;
}

td.title {
    word-break: break-all;
}

td.time {
    color: #555;
    text-align: right;
    white-space: nowrap;
}

table {
    margin-bottom: 30px;
}

.date {
    color: #777;
    font-size: 12pt;
    padding-bottom: 15px;
    font-weight: bold;
    text-align: left;
}

#load {
    color: #777;
    font-weight: bold;
    text-decoration: none;
}

#eof {
    color: #aaa;
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
}

.session-separator {
    color: #aaa;
    height: 40px;
    text-align: center;
}
