#dashboard-repositories-box,
#dashboard > div > div.d-block.d-md-none,
#dashboard-user-teams-repos,
#repos-container,
#dashboard-repos-container,
div.application-main > div > aside {
    display: none !important;
    margin: 0 !important;
    padding: 0 !important;
    color: transparent;
    border: none;
}

#dashboard .Box.p-3.mt-2 {
    background-color: none !important;
    border: 0 !important;
    border-radius: 0 !important;
}
