html a:hover,
html a:hover * {
    text-decoration: underline !important;
}

.moOptinForm,
.mo-optin-form-lightbox,
.mo-has-name-email,
.moModal,
ul#flash_message_holder {
    display: none !important;
}
