::-webkit-scrollbar {
    width: 4px !important;
    height: 8px !important;
    border: 1px ridge #53bdfa !important;
}

::-webkit-scrollbar-track:vertical {
    background: black !important;
    border-left: 1px solid black !important;
}

::-webkit-scrollbar-thumb:vertical {
    background: white !important;
    border-left: 1px solid black !important;
}

::-webkit-scrollbar-track:horizontal {
    background: white !important;
    border-radius: 4px !important;
}

::-webkit-scrollbar-thumb:horizontal {
    background: white !important;
    border-radius: 4px !important;
    box-shadow: inset 0 0 8px black !important;
}

::-webkit-scrollbar-corner {
    background: #c7c7c7 !important;
}
