#voice-search-button,
#sponsor-button,
#dismissible.ytd-display-ad-renderer,
#header > ytd-feed-filter-chip-bar-renderer,
#content > ytd-rich-shelf-renderer,
#content > ytd-display-ad-renderer *,
#content > ytd-display-ad-renderer,
.ytd-display-ad-renderer,
.video-ads.ytp-ad-module,
.video-ads,
.video-ads *,
#header.style-scope.ytd-rich-grid-renderer *,
#masthead-ad {
    display: none !important;
}
//*[@id="button"]/yt-icon
#content.style-scope.ytd-app {
    font-family: "Roboto" !important;
}
